fastapi
uvicorn
sqlalchemy
pymysql
pydantic
pydantic-settings
python-jose[cryptography]
bcrypt
requests
email-validator
python-multipart
redis

--extra-index-url https://download.pytorch.org/whl/cpu
torch
